<html>
  <head>
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" >
    <link href="static/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://fb.me/react-0.10.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.10.0.js"></script>


  </head>
  <body>

		
  
        <div id="tweetsview"></div>
  	    <script type="text/jsx">
        /** @jsx React.DOM */
        var TweetView = React.createClass({
            getInitialState: function(){
                return {data: [], query: ''}
            },
            onChangeQuery: function(e){
                this.setState({query: e.target.value});

            },
            handleSubmit: function(e){
                var that = this;
                e.preventDefault();
                var formData = {
                    'searchtwitter': this.state.query,
                    };
                var newData = [];
                $.ajax({
                    type: "GET",
                    data: formData,
                    url: '/search',
                    dataType: 'json'
                }).done(function(incoming_data) {
                    console.log(incoming_data);
                    that.setState({data: incoming_data})
                    that.setState({query: ''});
                });
            },
            render: function(){
            return (
                <div>
                    <form onSubmit={this.handleSubmit}>
                        <input type ="text" value={this.state.query} onChange={this.onChangeQuery}/>
                        <button>Search Twitter</button>
                    </form>
                    <TweetList data = {this.state.data}/>
                </div>);  
                }    
        });


        var Tweet = React.createClass({
            onClick: function(e){
                e.preventDefault();
                console.log(this.props.id_str);
                /// get the tweet id. /
                var formData = {
                    'id': this.props.id_str,
                    };
                $.ajax({
                    type: "GET",
                    data: formData,
                    url: '/fave',
                    dataType: 'json'
                }).done(function(incoming_data) {
                    console.log(incoming_data);
                });

                //then go to twitter and FAVE it.
                /// make an AJAX request.. hit my own server w the tweet id, then from there,
                //use OAuth to fave the tweet.
                // then do something here like change the color of the tweet.
            },
            render: function(){
                console.log("rendering tweet");
                return (<div onClick={this.onClick}>
                    <h2> {this.props.text}</h2> 
                    <br/>
                    <h3>{this.props.username}</h3>
                    <br/>
                    <div>{this.props.name}</div>
                    </div>
                    );
            }
        });
        var TweetList = React.createClass({
            render: function(){
                var tweets = this.props.data.map(function(tweet){
                    console.log("tweet username ", tweet.username);
                    return (<Tweet username= {tweet.user.screen_name} name = {tweet.user.name} text ={tweet.text} id_str={tweet.id_str}/>);
                });
                return (
                    <div>
                        {tweets}
                    </div>
                    );
                }
        });

    React.renderComponent(<TweetView/>, document.getElementById("tweetsview"));






  	</script>



  </body>